.result-box {
    box-sizing: border-box;
    padding: 1em;
    border-radius: 1em;
    width: 20em;
    border: 1px solid black;
    height: 8em;
    background-color: rgba(87, 255, 255, 0.842);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0em;
    left: -20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: popUp 3s ease-in-out;
    opacity: 0.9;
}
@keyframes popUp {
    0% {
        left:-20em;
    }
    25% {
        left: 0;
    }
    40% {
        left: 0;
    }
    70% {
        left: 0;
    }
    100% {
        left: -20em;
    }
}

.result-box h1 {
    margin: 0;
    font-size: 1.5em;

}
.result-box h2 {
    margin: 0;
    font-size: 1.2em;

}
.result-box p {
    margin: 0;
    font-size: 1em;
}