.description {
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

img {
    align-self: center;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
}
.fighter {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 1em;;
    display: flex;
    flex-direction: column;
   width: 40vw;
   padding: 1em;
   margin: 1em;
   text-align: left;
   box-sizing: border-box;
}
.battle-cage {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
    box-sizing: border-box;

}
button {
    color: white;
    height: 3em;
    width: 10em;
    align-self: center;
    border-radius: 1.5em;
    border: 1px solid white;
    outline: none;
    margin: 1em;
    background-color: rgb(29, 150, 248);
    font-family: arial;
}
.vote-button {
    height: 3em;
    width: 10em;
    align-self: center;
    border-radius: 1.5em;
    outline: none;
    margin: 1em;
    background-color: rgb(29, 150, 248);
}
.battle-cage h1 {
    align-self: center;
}
.hamsterCard {
    border: 1px solid black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
   width: 30vw;
   padding: 1em;
   margin: 1em;
   text-align: left;
   box-sizing: border-box;
}
.hamsterCard img {
    align-self: center;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
}
.wallOfFame {
width: 100vw;
min-height: 80vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.wrapper {
    min-height: 80vh;

}
