.description {
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.battle-canvas {
    width: 100%;
    background: rgb(184, 184, 184);
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
img {
    width: 30%;
    height: 50%;
    background-color: rgb(192, 192, 192);
}