@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Odibee+Sans&family=Staatliches&display=swap');
:root {
    --mainBg: rgb(255, 255, 255);
    --secondaryBg: rgb(29, 150, 248);
    --metalFont: 'Metal Mania', cursive;
--odibee: 'Odibee Sans', cursive;
--staat: 'Staatliches', cursive;
--roboto: 'Roboto';
}

.App {
  text-align: center;
}
header h1 {
    margin: 0;
    font-size: 3em;
    font-family: var(--staat);
    color: rgba(87, 255, 255, 0.842);
    letter-spacing: 1em;
    text-decoration: underline;
}
header {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(46,125,147,1) 0%, rgba(0,75,155,1) 60%, rgb(56, 125, 255) 100%);}
main {
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
    min-height: 80vh;
    background-color: var(--mainBg);
    box-sizing: border-box;
}
.nav {
    width: 100%;
    height: 5vh;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(56, 125, 255);
}
.nav a {
    border-radius: 1em 1em 0 0;
    text-decoration: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    color: rgb(0, 0, 0);
    font-family: arial;
    font-weight: bold;
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;

}
.active {
    background-color: var(--mainBg);
}
.primary {
    font-family: var(--odibee);
}
.leader-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2em;;
    font-weight: 300;
    padding: 3em;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    width: 50vw;
}
.leader-frame img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 5em;
    text-align: left;
}
.upload-form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    text-align: center;
}
.upload-form input {
    width: 15em;
    align-self: center;
    margin: 0.5em;
    border: 1px solid rgb(233, 200, 200);
}
.wrapper {
    width: 100vw;
min-height: 85vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.startHamster {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 100%;
    box-sizing: border-box;

}
.startHamster p {
    margin: 0;
}
.title-box {
    box-sizing: border-box;
    margin-bottom: 1em;
    width: 50vw;
    padding: 3em;
    text-align: left;
}
.text-box {
    padding-left: 1em;
}
.main-container {
    width: 100vw;
    padding: 0em 3em 0em 3em;
    min-height: 80vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
};

p {
    font-family: var(--roboto);
    margin: 0;
}
h1 {
    font-family: var(--odibee);
    font-size: 4em;
}
h2 {
    font-family: var(--odibee);
    font-size: 2em;
}

input.valid {
    border: 1px solid #5BBE36;
    border-radius: 2px;
}
input.invalid {
    border: 1px solid #DD2626;
    border-radius: 2px;
}
.error {
    color: #DD2626;
    position: absolute;
}